@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

body {
    max-width: 725px;
margin: 0 auto !important;
float: none !important;
color: #4a4a4a;
font-family: 'Raleway', Arial, sans-serif;
font-size: 1em;
font-weight: 400;
}

a {
color: #075209;
       text-decoration: none;
border: none;
}

a img {
outline: none;
}

a:hover {
color: #555;
border: none;
  }


#post-content {
  text-align: justify;
}

#title {
    margin-bottom: 0.35em;
    font-size: 2em;
    line-height: 40px;
}

.search {
position: relative;
color: #aaa;
       font-size: 16px;
}

.search input {
width: 250px;
height: 32px;

background: #fcfcfc;
border: 1px solid #aaa;
        border-radius: 5px;
        box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 32px;}
.search .fa-search { 
position: absolute;
top: 10px;
left: 10px;
}

input, button{
margin:0;
}


.video_container {
position: relative;
width: 100%;
height: 0;
        padding-bottom: 56.25%;
}

.video_youtube {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

