<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ $summary := false }}
  {{ range .Site.Params.external }}
      {{ if in $.Params.tags .tag }}
        {{ $summary = .summaryOnly }}
      {{ end }}
  {{ end }}

  {{ partial "head.html" . }}

  <body style="min-height:100vh;display:flex;flex-direction:column">

    {{ partialCached "navbar.html" . }}

      <!-- Content -->
      <div class="container">
        {{ partial "title.html" . }}
        {{ partial "toc.html" . }}
        
          <div class="content">

            {{ if $summary }}
              {{ .Summary }}
            {{ else }}
              {{ .Content }}
            {{ end }}

          </div>

        <div class="taglist">
            {{ partial "author.html" . }}
            {{ partial "taglist.html" . }}
        </div>

      </div>

  </body>

</html>
