[user]
	email = wanderley.caloni@gmail.com
	name = Wanderley Caloni
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
[core]
	excludesfile = C:\\Users\\caloni\\.gitignore
	editor = 'C:\\Windows\\gvim.bat' -f -i NONE
