Post Title: {{ post.title }}
Post Date: {{ post.date | date: '%Y-%m-%d' }}
Post Category: {{ post.category }}
Post Stars: {{ post.stars }}
Post Tags: {{ post.tags | join: ', ' }}
Revision Dates: {% if post.revision %}{{ post.revision | join: ', ' }}{% else %}{{ post.date | date: '%Y-%m-%d' }}{% endif %}
Revision Count: {% if post.revision %}{{ post.revision.size | plus: 1 }}{% else %}1{% endif %}
Original Title: {{ post._title }}
Year: {{ post._year }}
Director: {{ post._director | join: ', ' }}
Writer: {{ post._writer | join: ', ' }}
Cast: {{ post._cast | join: ', ' }}
Country: {{ post._countries | join: ', ' }}
Editor: {{ post._editor | join: ', ' }}
Cinematographer: {{ post._cinematographer | join: ', ' }}
Music: {{ post._music | join: ', ' }}
Genres: {{ post._genres | join: ', ' }}
Runtime: {{ post._runtimes | join: ', ' }}
Kind: {{ post._kind }}
Ratio: {{ post._ratio }}
Release Date: {{ post._releasedate }}
