{% if page.previous.url %}
<span style="margin: 0px;">
<a class="prev" style="color: black; font-size: 1em" title="Anterior" href="{{page.previous.url}}"><b>&lt;&lt;</b></a>
</span>
{% endif %}

<span style="margin: 3px;">
<a href="/" class="footer-link">
<img src="/images/search.png" title="Busca"/></a></span>

{% if page.next.url %}
<span style="margin: 0px;">
<a class="next" style="color: black; font-size: 1em" title="Próximo" href="{{page.next.url}}"><b>&gt;&gt;</b></a>
</span>
{% endif %}

<span style="margin: 0px;">
{% if page.main %}
<a href="https://www.facebook.com/caloni" class="footer-link">
<img src="/images/facebook.png" title="Facebook"/></a></span>
{% else %}
<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.caloni.com.br{{ page.url }}" class="footer-link" target="_blank">
<img src="/images/facebook.png" title="Compartilhar no Facebook"/></a></span>
{% endif %}

<span style="margin: 0px;">
{% if page.main %}
<a href="https://twitter.com/caloni" class="footer-link">
<img src="/images/twitter.png" title="Twitter"/></a></span>
{% else %}
<a href="https://twitter.com/intent/tweet?text={{ page.title }}: http://www.caloni.com.br{{ page.url }}" class="footer-link" target="_blank">
<img src="/images/twitter.png" title="Tweet"/></a></span>
{% endif %}

<span style="margin: 0px;">
<a href="http://feeds.feedburner.com/caloni" class="footer-link">
<img src="/images/feed.png" title="Feed"/></a></span>

<script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: pt_BR</script>
<script type="IN/Share" data-url="http://caloni.com.br/{{ page.url }}"></script>
