<div class="content">
  <div id="post-info" >
    <div id="info-container">
      <div id="title">{{ page.title }}</div>
      <span id="details">Wanderley Caloni, {{ page.date | date: '%Y-%m-%d' }}</span>
       {% include details.html %}
    </div>
  </div>

  <div class="post" >
    {{ content }}
  <div class="navigation">
      <div style="margin-bottom: 10px; margin-top: 10px;">
      <i>Gostou desse artigo? Pague-me uma cerveja:</i> <b>14GuqGQAzTJXqCBgUESmYXRHfe5kicMiGh</b> <a href="https://bitcoin.org/pt_BR/"><img src="/images/bitcoin.png" title="Pague-me uma cerveja: "/></a>
      </div>
  <div class="colophon">
      <p style="font-size: 1.5em;">
        {% include nav.html %}
      </p>
  </div>

  <div class="comments">
    <!-- todo: Fazer funcionar a flag de comentario do config no GitHub (ver historico desse arquivo). -->
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'caloni'; // required: replace example with your forum shortname
    
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            //(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            (document.querySelectorAll('div.comments')[0]).appendChild(dsq);
        })();
    
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function () {
            var s = document.createElement('script'); s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            //(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
            (document.querySelectorAll('div.comments')[0]).appendChild(s);
        }());
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <section id="disqus_thread"></section><!-- /#disqus_thread -->
  </div>

</div>
