<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info" tabindex="1">
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/{{ page.id }}.jpg" onError="this.src='/images/img404.jpg'";>
    </div>
    <div id="info-container">
      <div id="title">{{ page.title }}</div>
    </div>
  </div>

  <div class="post" tabindex="2">
    {{ content }}
  </div>
  <div class="colophon">
    <p style="font-size: 1.5em;">
        <span>
        {% if page.next.url %}
        <a class="next" title="Próximo" href="{{page.next.url}}"><b>&lt;&lt;</b></a>
        {% endif %}
        <a title="Posts" href="/posts"><img src="/favicon.png" width="16" height="16" title="Busca"/></a>
        {% if page.previous.url %}
        <a class="prev" title="Anterior" href="{{page.previous.url}}"><b>&gt;&gt;</b></a>
        {% endif %}
        </span>
        <span id="pub-date">Wanderley Caloni, {{ page.date | date_to_string }}</span>
    </p>
  </div>
</div>
