<div class="content" id="home">
  <div id="sidebar-button">
    <img src="/images/sidebar-button.png">
  </div>
  <div id="post-info" tabindex="1">
    <div id="cover-photo-container">
      <img id="cover-photo" src="/images/screenshots{{ page.id }}.jpg">
    </div>
    <div id="info-container">
      <div id="title">{{ page.title }}</div>
      <span id="details">{% if page._director %}{{ page._director | join: ', ' }}, {% endif %}{% if page._year %}{{ page._year }}{% endif %}</span>
    </div>
  </div>

  <div class="post" tabindex="2">
    {{ content }}
  </div>
  <div class="colophon">
    <p style="font-size: 1.5em;">
        <span>
        {% if page.next.url %}
        <a class="next" title="Próximo" href="{{page.next.url}}"><b>&lt;&lt;</b></a>
        {% endif %}
        <a title="Posts" href="/posts"><img src="/favicon.ico" width="16" height="16" title="Busca"/></a>
        {% if page.previous.url %}
        <a class="prev" title="Anterior" href="{{page.previous.url}}"><b>&gt;&gt;</b></a>
        {% endif %}
        </span>
        <span id="pub-date">Wanderley Caloni, {{ page.date | date_to_string }}</span>
        <span>
        {% if page._title %}<span id="social"><a title="Rotten Tomatoes" href="http://www.rottentomatoes.com/search/?search={{ page._title }}">&#x1f345;</a></span>{% endif %}
        {% if page.imdb != null %}<span id="social"><a title="IMDB: Internet Movie DataBase" href="http://www.imdb.com/title/tt{{ page.imdb }}">&#x1f3a6;</a></span>{% endif %}
        {% if page.title %}<span id="social"><a title="Netflix" href="http://www.netflix.com/search/{{ page.title }}">&#x25b6;</a></span>{% endif %}
        {% if page.title %}<span id="social"><a title="Adoro Cinema" href="http://www.adorocinema.com/busca/?q={{ page.title }}">&#x1f4ac;</a></span>{% endif %}
        </span>
    </p>
  </div>
</div>
