.content-date {
  padding-top: 1em; 
  }

.content-excerpt {
  overflow: auto;
  }

.content-image:hover, .content-image:active, .content-image:focus {
    -webkit-transform: none;
    transform: none;
    -moz-transform: none; }

.content-image-single {
    max-width: 100%; 
    width: 100%; 
    height: 100%; }

.entry-footer {
    text-align: right; }

.entry-sidebar {
  text-transform: none;
  margin-top: 3em; }

.entry-sidebar-stars {
  font-size: 2.5em; }

.entry-sidebar-title {
  font-weight: 300;
  display: block;
  background-color: gray;
  color: white; }

.entry-sidebar-entry {
  display: block; }

.category-header, .category-description, .footer-menu {
  visibility: hidden; }

label, input, button {
    font-size: inherit;
    padding: 0.2em;
    margin: 0.1em 0.2em;
    /* the following ensures they're all using the same box-model for rendering */
    -moz-box-sizing: content-box; /* or `border-box` */
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.gs-webResult {
    background-color: white;
    color: black; }

.title-info, .footer-title, .more-link:hover, .content-title a:hover {
    color: #075209; }

.title-info, .footer-title {
    font-size: 3em; }

.sortable {
    margin-left: 1em;
    margin-top: 2em;
    width: 100%; }
