.article-meta, .menu a, a {
    color: green;
}

.tag:not(body).is-link {
    background-color: green;
    color:#fff
}

.pagination-link.is-current {
    background-color: green;
    border-color: green;
    color: #fff;
}

