<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ partial "head.html" . }}

  <body style="min-height:100vh;display:flex;flex-direction:column">

    {{ partialCached "navbar.html" . }}

      <!-- Content -->
      <div class="container">
        {{ partial "title.html" . }}
        {{ partial "subtitle.html" . }}
        <div class="taglist">
            {{ partial "draft.html" . }}
        </div>

        {{ partial "toc.html" . }}
        
          <div class="content">
            {{ if in .Params.tags "cinemaqui" }}
              <p>{{ .Summary }}</p>
              <p>A crítica completa foi escrita para o site <b>CinemAqui</b>. Você deve encontrá-la <a href="http://www.cinemaqui.com.br/?s={{ .Params.title }}">pesquisando por lá</a>.</p>
            {{ else }}
              {{ .Content }}
            {{ end }}

          </div>

        <div class="taglist">
            {{ partial "taglist.html" . }}
        </div>

        <div class="navigation-bottom">
            {{ partial "navigation-bottom.html" . }}
        </div>

      </div>

    {{ partial "footer.html" . }}
  </body>

</html>
