{{ define "main" }}

<div class="col-md-12 entry">
  <div class="row">
    <div class="col-md-12">
      <div class="entry-header">
       {{ .Title }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="entry-sidebar">

      {{ with .Params._cover }} 
      <div>
        <img src="{{ . }}"/>
      </div>
      {{ end }}

      <div class="entry-sidebar-stars">
        {{ if eq .Params.stars "5/5" }}
          &#x2605;&#x2605;&#x2605;&#x2605;&#x2605;
        {{ else if eq .Params.stars "4/5" }}
          &#x2605;&#x2605;&#x2605;&#x2605;&#x2606;
        {{ else if eq .Params.stars "3/5" }}
          &#x2605;&#x2605;&#x2605;&#x2606;&#x2606;
        {{ else if eq .Params.stars "2/5" }}
          &#x2605;&#x2605;&#x2606;&#x2606;&#x2606;
        {{ else if eq .Params.stars "1/5" }}
          &#x2605;&#x2606;&#x2606;&#x2606;&#x2606;
        {{ end }}
      </div>

      {{ with .Params._title }} 
        <span class="entry-sidebar-title"> Título original </span> 
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params._countries }} <span class="entry-sidebar-title"> País de origem </span> {{ end }}
      {{ range .Params._countries }}
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params._year }} 
        <span class="entry-sidebar-title"> Ano </span>
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params._director }} <span class="entry-sidebar-title">Direção</span> {{ end }}
      {{ range .Params._director }}
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params._writer }} <span class="entry-sidebar-title">Roteiro</span> {{ end }}
      {{ range .Params._writer }}
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params._cast }} <span class="entry-sidebar-title">Elenco</span> {{ end }}
      {{ range .Params._cast }}
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params._editor }} <span class="entry-sidebar-title">Edição</span> {{ end }}
      {{ range .Params._editor }}
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params._cinematographer }} <span class="entry-sidebar-title">Fotografia</span> {{ end }}
      {{ range .Params._cinematographer }}
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params._music }} <span class="entry-sidebar-title">Trilha Sonora</span> {{ end }}
      {{ range .Params._music }}
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params._runtimes }} <span class="entry-sidebar-title">Duração</span> {{ end }}
      {{ range .Params._runtimes }}
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params._ratio }} 
        <span class="entry-sidebar-title">Razão de aspecto</span> 
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params._genres }} <span class="entry-sidebar-title">Gênero</span>{{ end }}
      {{ range .Params._genres }}
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params._releasedate }} 
        <span class="entry-sidebar-title">Estreia no Brasil</span>
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params.tags }} <span class="entry-sidebar-title">Tags</span> {{ end }}
      {{ range .Params.tags }}
        <span class="entry-sidebar-entry"> {{ . }} </span>
      {{ end }}

      {{ with .Params.imdb }} 
        <span class="entry-sidebar-entry"><a title="IMDB: Internet Movie DataBase" href="http://www.imdb.com/title/tt{{ . }}">
        <img src="/img/imdb.png"/></a></span>
      {{ end }}

      {{ with .Params._title }} 
        <span class="entry-sidebar-entry"><a title="Rotten Tomatoes" href="http://www.rottentomatoes.com/search/?search={{ . }}">
        <img src="/img/rotten_tomatoes.png"/></a></span>
      {{ end }}

      </div>
    </div>
    <div class="col-md-10">
      <div class="content-image-single" style="content: url(/img/{{ .File.TranslationBaseName }}.jpg)">
      </div>
      <div class="entry-content">
        {{ .Content }}
      <div class="entry-footer">
        {{ .Site.Params.author }}
      </div>
      {{ with .Params.cinemaqui }}
      <div class="entry-footer">
        Crítica completa na estreia do filme no <a href="{{ . }}">CinemAqui</a>.
      </div>
      {{ end }}
      </div>
    </div>
  </div>

  <hr/>
  {{ template "_internal/disqus.html" . }}

</div>
{{ end }}
