<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ partial "head.html" . }}

  <body style="min-height:100vh;display:flex;flex-direction:column">

    {{ partial "navbar.html" . }}

    <section class="section" style="flex:1">

      <!-- Content -->
      <div class="container">
        {{ partial "title.html" . }}
        {{ partial "subtitle.html" . }}

        {{ partial "toc.html" . }}
        
          <div class="content">
            {{ if in .Params.tags "cinemaqui" }}
              {{ .Summary }}
              Crítica escrita para o <a href="http://www.cinemaqui.com.br/?s={{ .Params.title }}">site do CinemAqui</a>.
            {{ else }}
              {{ .Content }}
            {{ end }}

            {{ partial "gitinfo.html" . }}
          </div>

          {{ partial "taglist.html" . }}
      </div>

    </section>

    {{ partial "footer.html" . }}
  </body>

</html>
