<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ partial "head.html" . }}

  <body style="min-height:100vh;display:flex;flex-direction:column">

    {{ partial "navbar.html" . }}

    <section class="section" style="flex:1">

      <!-- Content -->
      <div class="container" style="min-height:56vh">
        <ul>
        {{- $data := .Data }}
        {{- range $key, $value := .Data.Terms.Alphabetical }}
          <li class="title is-4 is-flex" style="justify-content:space-between">
            <span>
              <a href="/titles/?q=%23{{ $value.Name | urlize }}">
                {{ $value.Name }}
              </a>
            </span>
            <span>
              {{ $value.Count }} posts
            </span>
          </li>
        {{- end }}
        </ul>
      </div>

    </section>

    {{ partial "footer.html" . }}

  </body>

</html>
