pip==9.0.1
setuptools==34.1.1
facebook-sdk==2.0.0
freeze==1.0.10
future==0.16.0
oauthlib==2.0.1
olefile==0.44
Pillow==4.0.0
pyshorteners==0.6.0
python-frontmatter==0.3.1
PyYAML==3.12
requests==2.12.4
requests-oauthlib==0.7.0
selenium==3.0.2
six==1.10.0
twitter==1.17.1
simplejson==3.10.0
