#include "Resource.h"
#include <windows.h>

IDR_VERSION1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEOS 0x00000004
FILETYPE 0x00000001
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "FFFF0000"
    BEGIN
      VALUE "FileVersion", "1.0.0.0\0"
      VALUE "ProductVersion", "1.0.0.0\0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0xFFFF, 0x0000
  END
END

IDD_DLG1 DIALOGEX 6,5,165,75
CAPTION "Caixa de diálogo padrão"
FONT 8,"MS Sans Serif",0,0,0
STYLE WS_VISIBLE|WS_OVERLAPPEDWINDOW
BEGIN
  CONTROL "&OK",IDC_BTN1,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,70,51,42,20
  CONTROL "&Cancel",IDC_BTN2,"Button",WS_CHILD|WS_VISIBLE|WS_TABSTOP,120,51,42,20
  CONTROL "Esta é uma caixa de diálogo que pode ser exibida usando ATL.",IDC_STC1,"Static",WS_CHILD|WS_VISIBLE,4,3,124,28
END

IDR_MENU1 MENU
BEGIN
  POPUP "Help"
  BEGIN
    MENUITEM "About",IDM_ABOUT
  END
END

