
    <section class="section" style="flex:1">

      <div class="container">
        <div class="columns">

          <div class="column">
            <!-- Content -->
            <div style="min-height:56vh">
              <big><b>
              <a title="lista a busca completa do saite (mais lenta)" href="/search">search</i></span></a>
              &middot; <a title="lista todos os títulos do saite" href="/titles">titles</a>
              &middot; <a title="lista de todas as tags" href="/tags">tags</a>
              </b></big>

              {{ .Content }}
              
              <div><big><b><span style="visibility: hidden; padding: 5px;" name="results" id="results">...</span></b></big></div>
              <table class="sortable">
              <div style="padding-bottom: 1em;"></div>
              <input type="text" name="filter" value="" id="filter" placeholder="filter" style="width: 60%; font-size: 16px; margin-top: 1em; margin-left: 10px;" title=""/>
              <button id="filterbutton" onclick="ApplyFilter($('#filter').val());"><span class="icon"><i class="fa fa-search"></i></span></button>
              <button id="randombutton" onclick="window.location = randomPost;"><span class="icon"><i class="fa fa-magic"></i></span></button>
