
    <section class="section" style="flex:1">

      <div class="container">
        <div class="columns">

          <div class="column">
            <!-- Content -->
            <div style="min-height:56vh">
              <small>
              {{ range $key, $value := .Site.Taxonomies.tags }}
              <a href="javascript:;" onclick="$('#filter').val('{{ $key }}'); ApplyFilter('{{ $key }}');">{{ $key }}</a>
              {{ end }}
              <a href="javascript:;" onclick="window.location = randomPost;">random</a>
              <a href="/allposts">allposts</a>
              <a href="/search">search</a>
              <span name="results" id="results"></span>
              </small>
              
              {{ .Content }}
              
              <table class="sortable">
              <input type="text" name="filter" value="" id="filter" style="width: 100%; font-size: 22px;" title=""/>
