<nav class="navbar has-shadow is-white"
     role="navigation" aria-label="main navigation">
  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" title="Go to Home" href="/">
        {{- if (fileExists (print "/static" .Site.Data.defaults.icons.brand)) }}
        <img alt="Brand" src="{{ .Site.Data.defaults.icons.brand }}">
        {{- end }}
        {{- if .IsHome }}
        <div class="title is-4">&nbsp;{{ .Site.Title }}</div>
        {{- else if .IsPage }}
        <div class="title is-6">&nbsp;{{ .Site.Title }}</div>
        {{- else }}
        <div class="title is-6">&nbsp;{{ .Site.Params.Namespace }}::{{ lower .Title }}</div>
        {{- end }}
      </a>

      <!-- Using a <label /> here -->
      <label class="button navbar-burger is-white" for="navbar-burger-state">
        <span></span>                               <!--^^^^^^^^^^^^^^^^^^^-->
        <span></span>
        <span></span>
      </label>
    </div>

    <!-- This checkbox is hidden -->
    <input type="checkbox" id="navbar-burger-state"/>

    <div class="navbar-menu">
      <div class="navbar-end" style="padding: 10px;">
      {{- $node := . }}
      <big><b>
      {{ range .Site.Taxonomies.categories }} <a title="posts dessa categoria" href="/categories/{{ .Page.Title | urlize }}">{{ .Page.Title }}</a> {{ end }}
      {{ range .Site.Menus.main }} <a href="{{ .URL }}"><span class="icon"><i class="fa fa-{{ .Name }}"></i></a>{{ end }}
      </big></b>
      </div>
    </div>

  </div>
</nav>
