<nav class="navbar has-shadow is-white"
     role="navigation" aria-label="main navigation">

  <div class="container">

    <div class="navbar-brand">
      <a class="navbar-item" title="Go to Home" href="/">
        {{- if (fileExists (print "/static" .Site.Data.defaults.icons.brand)) }}
        <img alt="Brand" src="{{ .Site.Data.defaults.icons.brand }}">
        {{- end }}
        {{- if .IsHome }}
        <div class="title is-4">&nbsp;{{ .Site.Title }}</div>
        {{- else if .IsPage }}
        <div class="title is-6">&nbsp;{{ .Site.Title }}</div>
        {{- else }}
        <div class="title is-6">&nbsp;{{ .Site.Params.Namespace }}::{{ lower .Title }}</div>
        {{- end }}
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end" style="padding: 10px;">
      {{- $node := . }}
      <big><b>
      {{ range .Site.Taxonomies.categories }} <a title="posts dessa categoria" href="/categories/{{ .Page.Title | urlize }}">{{ .Page.Title }}</a> {{ end }}
      </big></b>
      </div>
    </div>

  </div>
</nav>
