<div class="row">
  <div class="col-md-10 category-header">
  <a href="">CATEGORY: All</a>
  </div>
</div>

<div class="row">
  <div class="col-md-10 category-description">
  
  </div>
</div>

{{ range $index, $element := first 20 (where .Data.Pages "Section" "post") }}
{{if mod (add $index 1) 2 }}
<div class="row content">
  <div class="col-md-6 content-excerpt">
      <div class="row">
        <div class="col-md-12">
          <div class="row content-title">
            <h2> <a href="{{ .Permalink }} "> {{ .Title }} </a> </h2>
          </div>
          <div class="row content-summary">
            <p> {{ .Summary }} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 content-image" style="background-image: url(img/{{ .File.TranslationBaseName }}.jpg)">
    </div>
  </div>
  {{ else }}
  <div class="row content">
    <div class="col-md-6 content-image" style="background-image: url(img/{{ .File.TranslationBaseName }}.jpg)">
    </div>

    <div class="col-md-6 content-excerpt">
        <div class="row">
          <div class="col-md-12">
            <div class="content-title">
              <h2> <a href="{{ .Permalink }} "> {{ .Title }} </a> </h2>
            </div>
            <div class="content-summary">
              <p> {{ .Summary }} </p>
            </div>
          </div>
        </div>
      </div>

    </div>
    {{end}}
    {{ end }}
