{{ if .Params.stars }}{{ partial "stars.html" . }} {{ end }}{{ .Title }} &#9679; {{ .Params.desc }} &#9679; Nota: {{ .Params.stars }}. Categoria: {{ delimit .Params.categories ", " }}. {{ if .Params.cabine }} Visto em cabine de imprensa pelo {{ .Params.cabine }}.{{ end }} Publicado em {{ .PublishDate.Format "2006-01-02" }}. {{ if .Params.review }}Revisto em {{ delimit .Params.review ", " }}.{{ end }} Texto escrito por {{ if .Params.author }}{{ .Params.author }}{{ else }}Wanderley Caloni{{ end }}.

<p><br>
Quer <a href="{{ .Site.Params.repo }}/edit/master/data/comments.json">comentar</a> ou <a href="{{ .Site.Params.repo }}/edit/master/content/post/{{ .File.LogicalName }}">corrigir</a>?<br>
{{ $section := string $.File.TranslationBaseName }}
{{ range $name, $comment := index $.Site.Data.comments $section }}
    <b>{{ $name | markdownify }}</b>: {{ $comment | markdownify }}<br>
{{ end }}
</p>
