<p align="right"><i>
<a href="https://www.facebook.com/sharer/sharer.php?u=http://www.caloni.com.br{{ .URL }}" class="footer-link" target="_blank">Facebook</a>
| <a href="https://twitter.com/intent/tweet?text={{ .Title }}: http://www.caloni.com.br{{ .URL }}" class="footer-link" target="_blank">Twitter</a>
| <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.caloni.com.br/{{ .URL }}" class="footer-link" target="_blank">Linkedin</a>
| <a href="https://plus.google.com/share?url=http://www.caloni.com.br/{{ .URL }}" class="footer-link" target="_blank">Google</a>
</i></p>
