<span class="entry-sidebar-stars">
  {{ if eq .Params.stars "5/5" }}
    &#x2605;&#x2605;&#x2605;&#x2605;&#x2605;
  {{ else if eq .Params.stars "4/5" }}
    &#x2605;&#x2605;&#x2605;&#x2605;&#x2606;
  {{ else if eq .Params.stars "3/5" }}
    &#x2605;&#x2605;&#x2605;&#x2606;&#x2606;
  {{ else if eq .Params.stars "2/5" }}
    &#x2605;&#x2605;&#x2606;&#x2606;&#x2606;
  {{ else if eq .Params.stars "1/5" }}
    &#x2605;&#x2606;&#x2606;&#x2606;&#x2606;
  {{ else if eq .Params.stars "0/5" }}
    <strike>&#x2606;&#x2606;&#x2606;&#x2606;&#x2606;</strike>
  {{ end }}
</span>
