<p class="subtitle">
<i>
{{ if .Date.After (time "2001-01-01")}}
    {{ if .File }}<a href="{{ .Site.Params.ContentGit }}/commits/master/{{ .File.LogicalName }}" title="History">{{ end }}
    {{ .Date.Format "2006-01-02" }}
    {{ if .File }}</a>{{ end }}
{{ end }}
<span class="icon"><i class="fa fa-clock-o"></span></i>{{ .ReadingTime }} </i>
{{ if .File }} <span class="icon"><i class="fa fa-pencil"></i></span><a href="{{ .Site.Params.ContentGit }}/blob/master/{{ .File.LogicalName }}" title="GitHub">{{ .WordCount }}</a>{{ end }}
</p>
