{{ if .Date.After (time "2001-01-01")}}
    {{ with .File }}{{ with (index $.Site.Data.post .BaseFileName) }}
        {{ with .imdb }}
            {{ .title }}
            ({{ if .countries }}{{ delimit .countries ", " }}{{ else }}Unknwown{{ end }}, {{ .year }}).
            {{ if .directors }} Dirigido por {{ delimit .directors ", " }}.{{ end }}
            {{ if .writers }} Escrito por {{ delimit .writers ", " }}.{{ end }}
            {{ if .cast }} Com {{ delimit .cast ", " }}.{{ end }}
            <a href="https://www.imdb.com/title/tt{{ .id }}" style="text-decoration: underline;" title="Internet Movie Database">imdb</a>
            <a href="https://letterboxd.com/imdb/{{ .id }}" style="text-decoration: underline;" title="Letterboxd">letterboxd</a>
        {{ end }}
        {{ range $key, $value := .code }}
            <a href="/code/{{ $value }}" style="text-decoration: underline;">{{ $key }}()</a>
        {{ end }}
        <a href="{{ $.Site.Params.BlogGit }}/blob/master/data/post/{{ $.File.BaseFileName }}.toml" style="text-decoration: underline;">references</a>
    {{ end }}{{ end }}
    {{ if .Params.categories }} {{ range .Params.categories }} [<a href="/categories/{{ . | urlize }}">{{ . }}</a>] {{ end }}{{ end }}
    {{ if .Params.tags }} {{ range .Params.tags }} [<a href="/tags/{{ . | urlize }}">{{ . }}</a>] {{ end }}{{ end }}
    {{ if .Params.review }} {{ delimit .Params.review " " }}{{ end }}
    <a href="https://twitter.com/intent/tweet?text={{ .Summary | safeHTML | truncate 120 "..." -}}%20{{ .Permalink }} from @caloni " style="text-decoration: underline;" title="Twitter">twitter</big></a>
{{ end }}
