<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ partial "head.html" . }}

  <body>

    <section class="hero is-dark is-fullheight">
      <div class="hero-body">
        <div class="container">
          <a href="{{ .Site.BaseURL }}">
            <p class="title">
              Opa, essa página não foi encontrada.
            </p>
            <p class="subtitle">
              Não quer fazer uma <u><a href="/search">busca</a></u>? Às vezes eu mexo e remexo as coisas por aqui.
            </p>
          </a>
        </div>
      </div>
    </section>

  </body>

</html>
