<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ $summary := false }}
  {{ $expire := (int -60) }}
  {{ range .Site.Params.external }}
      {{ if in $.Params.tags .tag }}
        {{ $summary = .summaryOnly }}
        {{ $expire = (int .expire) }}
      {{ end }}
  {{ end }}

  {{ partial "head.html" . }}

  <body style="min-height:100vh;display:flex;flex-direction:column">

    {{ partial "navbar.html" . }}

      <!-- Content -->
      <div class="container">
        {{ if eq .Title .Site.Params.author }}
        {{ else }}
        {{ partial "title.html" . }}
        {{ partial "toc.html" . }}
        {{ end }}
        
          <div class="content">


            {{ if $summary }}
              {{ $expirationDate := now.AddDate 0 $expire 0 }}
              {{ if gt .Date $expirationDate }}
                <p>{{ .Summary }}</p>
              {{ else }}
                {{ .Content }}
              {{ end }}
            {{ else }}
              {{ .Content }}
            {{ end }}

          </div>

        <div class="taglist">
            {{ partial "author.html" . }}
            {{ partial "taglist.html" . }}
            {{ partial "hitcounter.html" . }}
        </div>

      </div>

  </body>

</html>
