<p class="author">
{{ if .Date.After (time "2001-01-01")}}
  {{ $.Site.Params.author }},
  {{ range $.Site.Params.external }}
    {{ if in $.Params.tags .tag }}
      {{ if .searchLink }}
        escrito para <a href="{{ .searchLink }}{{ $.Params.title }}">{{ .name }}</a>,
      {{ end }}
      {{ if .link }}
        escrito para <a href="{{ .link }}">{{ .name }}</a>,
      {{ end }}
    {{ end }}
  {{ end }}
  <a href="{{ .Site.Params.contentGit }}/blob/master/content/{{ path.Clean .File.Path }}">{{ .Date.Format "2006-01-02 15:04:05 -0700" }}</a>
{{ end }}
</p>
