<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">

      <!-- syntax highlighting CSS -->
      <link rel="stylesheet" href="/css/syntax.css">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="/css/main.css">

      <!-- Responsive CSS -->
      <link rel="stylesheet" href="/css/responsive.css">

      <!-- Google Fonts -->
      <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css'>
      <link href='http://fonts.googleapis.com/css?family=Raleway:300,400,700' rel='stylesheet' type='text/css'>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      
        ga('create', 'UA-50557403-1', 'auto');
        ga('send', 'pageview');
      
      </script>
  </head>
  <body>
    <div class="site">
      <div class="sidebar" id="sidebar">
        <div class="header">
        <div class="header-navigation">
        <div><a href="/"><img id="logo" src="/favicon.png"></a></div>
    <span>
    <a href="/posts" style="font-size: 1.5em;">Cine Tênis Verde</a>
    </span>
        </div>
        </div>
       <div>
          <h2>{% if page._title %}{{ page._title }}{% else %}{{ page.title }}{% endif %}</h2>
       <h2 style="text-align: center; margin-bottom: 20px;">
{% if page.stars == "5/5" or stars == "5/5" %}&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;{% elsif page.stars == "4/5" or stars == "4/5" %}&#x2605;&#x2605;&#x2605;&#x2605;&#x2606;{% elsif page.stars == "3/5" or stars == "3/5" %}&#x2605;&#x2605;&#x2605;&#x2606;&#x2606;{% elsif page.stars == "2/5" or stars == "2/5" %}&#x2605;&#x2605;&#x2606;&#x2606;&#x2606;{% elsif page.stars == "1/5" or stars == "1/5" %}&#x2605;&#x2606;&#x2606;&#x2606;&#x2606;{% endif %}
       </h2>
       <p style="font-size: 1.0em;"><i>{% if page._countries %}{{ page._countries | join: ', ' }}. {% endif %}{% if page._year %}{{ page._year }}. {% else %}{% endif %}{% if page._director %} Direção: {{ page._director | join: ', ' }}.{% endif %}{% if page._writer %} Roteiro: {{ page._writer | join: ', ' }}.{% endif %}{% if page._cast %} Elenco: {{ page._cast | join: ', ' }}.{% endif %}{% if page._editor %} Edição: {{ page._editor | join: ', ' }}.{% endif %}{% if page._cinematographer %} Fotografia: {{ page._cinematographer | join: ', ' }}.{% endif %}{% if page._music %} Trilha Sonora: {{ page._music | join: ', ' }}.{% endif %}{% if page._runtimes %} Duração: {{ page._runtimes | join: ', ' }}.{% endif %}{% if page._ratio %} Aspecto: {{ page._ratio }}.{% endif %}{% if page._genres %} {{ page._genres | join: ', ' }}.{% endif %}</i></p>
       </div>
       <div style="margin-top: 20px; text-align: right; font-size: 1.5em;">

         {% if page.previous.url %}
         <span style="margin: 0px;">
         <a class="prev" style="color: black; font-size: 1em" title="Anterior" href="{{page.previous.url}}"><b>&lt;&lt;</b></a>
         </span>
         {% endif %}

         <span style="margin: 3px;">
         <a href="/posts" class="footer-link">
         <img src="/images/search.png" title="Busca"/></a></span>

         {% if page.next.url %}
         <span style="margin: 0px;">
         <a class="next" style="color: black; font-size: 1em" title="Próximo" href="{{page.next.url}}"><b>&gt;&gt;</b></a>
         </span>
         {% endif %}

         {% if page._title %}<span id="social"><a title="Rotten Tomatoes" href="http://www.rottentomatoes.com/search/?search={{ page._title }}">
         <img src="/images/rotten_tomatoes.png"/></a></span>{% endif %}

         {% if page.imdb != null %}<span id="social"><a title="IMDB: Internet Movie DataBase" href="http://www.imdb.com/title/tt{{ page.imdb }}">
         <img src="/images/imdb.png"/></a></span>{% endif %}

         <span style="margin: 0px;">
         {% if page.main %}
         <a href="https://www.facebook.com/cinetenisverde" class="footer-link">
         <img src="/images/facebook.png" title="Facebook"/></a></span>
         {% else %}
         <a href="https://www.facebook.com/sharer/sharer.php?u=http://www.cinetenisverde.com.br{{ page.url }}" class="footer-link" target="_blank">
         <img src="/images/facebook.png" title="Compartilhar no Facebook"/></a></span>
         {% endif %}

         <span style="margin: 0px;">
         {% if page.main %}
         <a href="https://twitter.com/cinetenisverde" class="footer-link">
         <img src="/images/twitter.png" title="Twitter"/></a></span>
         {% else %}
         <a href="https://twitter.com/intent/tweet?text={{ page.title }}: http://www.cinetenisverde.com.br{{ page.url }}" class="footer-link" target="_blank">
         <img src="/images/twitter.png" title="Tweet"/></a></span>
         {% endif %}

         <span style="margin: 0px;">
         <a href="http://feeds.feedburner.com/cinetenisverde" class="footer-link">
         <img src="/images/feed.png" title="Feed"/></a></span>

        </div>
      </div>

        {{ content }}

    </div>
    <script src="/scripts/responsive.js" type="text/javascript"></script>
  </body>
</html>
