---
layout: default
---

<div class="post">
  <h1 class="post-title">
  {% include title.html %}
  </h1>
  <a href="https://github.com/caloni/caloni.github.io/edit/master/{{ page.path }}">
  <span class="post-date">{{ page.date | date_to_string }}</span></a>
  {{ content }}
</div>


  <div class="pagination">
    {% if page.previous != null %}
      <a class="pagination-item older" href="{{ page.previous.url }}">Anterior</a>
    {% else %}
      <span class="pagination-item older">Anterior</span>
    {% endif %}
    {% if page.next != null %}
      <a class="pagination-item newer" href="{{ page.next.url }}">Próximo</a>
    {% else %}
      <span class="pagination-item newer">Próximo</span>
    {% endif %}
  </div>

<div class="comments">
  {% include comments.html %}
</div>


{% include google-analytics.html %}

