<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ partial "head.html" . }}

  <body style="min-height:100vh;display:flex;flex-direction:column">
    {{ partial "navbar.html" . }}

    {{ partial "list_begin.html" . }}
    {{ range .Site.RegularPages }}
        <tr><td style="border-bottom: 1px dotted black; padding: 10px;">
        {{ partial "icons.html" . }}
        <a href="{{ .Permalink }}"><b><big>{{ .Title }}</big></b></a>
        {{ partial "stars.html" . }}
        {{ with .File }}{{ with (index $.Site.Data.post .BaseFileName) }}
            {{ with .imdb }}
                {{ .title }}
                ({{ if .countries }}{{ delimit .countries ", " }}{{ else }}Unknwown{{ end }}, {{ .year }}).
                {{ if .directors }} Dirigido por {{ delimit .directors ", " }}.{{ end }}
                {{ if .writers }} Escrito por {{ delimit .writers ", " }}.{{ end }}
                {{ if .cast }} Com {{ delimit .cast ", " }}.{{ end }}
            {{ end }}
        {{ end }}{{ end }}
        {{ if .Params.stars }}{{ .Params.stars }}{{ end }}
        {{ if .Params.tags }}<i>{{ range .Params.tags }}{{ printf "%s%s" " " . }}{{ end }}</i>{{ end }}   
         {{ .PublishDate.Format "2006-01-02" }}
         {{ if .Params.review }} {{ delimit .Params.review " " }}{{ end }}
         <i>{{ .Summary | safeHTML | truncate 200 "..." -}}</i>
        </small>
        </td></tr>
    {{ end }}
    {{ partial "list_end.html" . }}

    {{ partial "footer.html" . }}
  </body>

</html>
