<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ partial "head.html" . }}

  <script src="/js/jquery.min.js"></script>
  <script src="/js/list.js"></script>

  <body style="min-height:100vh;display:flex;flex-direction:column">

    {{ partial "navbar-hero.html" . }}

    {{ partial "list_begin.html" . }}
    {{ range .Site.RegularPages }} <tr><td> <a href="{{ .Permalink }}"> {{ if .Params.stars }}{{ partial "stars.html" . }} {{ end }}{{ .Title }}. {{ .Params.desc }} {{ if .Params.stars }} Nota: {{ .Params.stars }}.{{ end }} {{ if .Params.categories }} Categoria: {{ delimit .Params.categories ", " }}. {{ end }} {{ if .Params.cabine }} Visto em cabine de imprensa pelo {{ .Params.cabine }}.{{ end }} Publicado em {{ .PublishDate.Format "2006-01-02" }}. {{ if .Params.review }}Revisto em {{ delimit .Params.review ", " }}.{{ end }} Texto escrito por {{ if .Params.author }}{{ .Params.author }}{{ else }}Caloni{{ end }}.</a> </td></tr>
    {{ end }}
    {{ partial "list_end.html" . }}

    {{ partial "footer.html" . }}

  </body>

</html>
