<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ partial "head.html" . }}

  <script src="/js/jquery.min.js"></script>
  <script src="/js/list.js"></script>

  <body style="min-height:100vh;display:flex;flex-direction:column">

    {{ partial "navbar.html" . }}

    {{ partial "list_begin.html" . }}
    {{ range .Site.RegularPages }}
    <tr><td style="border-bottom: 1px dotted black;">
    {{ partial "icons.html" . }}
    <a href="{{ .Permalink }}"><b><big>{{ .Title }}</big></b></a>
    {{ partial "stars.html" . }}
    {{ .Params.desc }}
    {{ if .Params.stars }}{{ .Params.stars }}{{ end }}
    {{ if .Params.tags }} &middot; {{ delimit .Params.tags " &middot; " }}{{ end }}
    {{ if .Params.imdb }} &middot; <a href="https://www.imdb.com/title/tt{{ .Params.imdb }}">{{ .Params.imdb }}</a>{{ end }}
     &middot; {{ .PublishDate.Format "2006-01-02" }}
     {{ if .Params.review }} &middot; {{ delimit .Params.review " &middot; " }}{{ end }}
     &middot; <i>{{ .Summary | safeHTML | truncate 200 "..." -}}</i>
    </small>
    </td></tr>
    {{ end }}
    {{ partial "list_end.html" . }}

    {{ partial "footer.html" . }}

  </body>

</html>
