#include "Resource.h"
#include <windows.h>

IDR_MAINFRAME MENU
BEGIN
  POPUP "&Help"
  BEGIN
    MENUITEM "&About",IDM_
  END
END

IDR_MAINFRAME ACCELERATORS
BEGIN
END

STRINGTABLE DISCARDABLE
BEGIN
	IDR_MAINFRAME "This is WTL. UHUUUUUUUUU!"
END
