<!DOCTYPE html>
<html lang="en-us" dir="ltr" itemscope itemtype="http://schema.org/Article">

  {{ partial "head.html" . }}

  <body style="min-height:100vh;display:flex;flex-direction:column">

    {{ partial "navbar.html" . }}
    {{ partial "section_begin.html" . }}
    {{ with .Site.Params.home.intro }}<p>{{ . }}</p>{{ end }}
    {{ partial "quick_search.html" . }}
    <big><b>> <a title="lista últimos posts do saite" href="/news">news</a></b></big></br>
    <big><b>> <a title="lista todos os títulos do saite" href="/blog">posts</a></b></big></br>
    <big><b>> <a title="rascunhos" href="/drafts">drafts</a></b></big></br>
    {{ partial "taxonomies.html" . }}
    <big><b>>> <a title="todas as baixarias de programador" href="/categories/code">code</a></b></big></br>
    <big><b>>> <a title="todos os filmes sobre os quais escrevi" href="/categories/movies">movies</a></b></big></br>
    {{ partial "list_begin.html" . }}
    {{ partial "list_end.html" . }}
    {{ partial "section_end.html" . }}
    {{ partial "footer.html" . }}

  </body>

</html>
